body {
    background-color: #6c9191;
}

.toonWrapper {
    display: block;
    width: 50vw;
    position: relative;
    left: 25vw;
    top: 25px;
    text-align: center;
    font-family: 'Righteous';
    font-size: 2em;
    color: #d4b417;
    text-shadow: 3px 3px 0px #944f0a;
}